<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="Backend">
    <Properties>
        <Property name="logs-directory" value="logs"/>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <LevelRangeFilter maxLevel="INFO"/>
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="TraceToFile" append="false" fileName="logs/backend.trace.log">
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE"/>
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
        <RollingFile name="LogToRollingFile" fileName="logs/backend.log" filePattern="logs/$${date:yyyy-MM}/backend-%d{MM-dd-yyyy}-%i.log.gz">
            <LevelRangeFilter maxLevel="DEBUG"/>
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ru.duckcoder" level="ALL" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
            <AppenderRef ref="TraceToFile"/>
        </Logger>
        <Logger name="io.javalin" level="ALL" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
            <AppenderRef ref="TraceToFile"/>
        </Logger>
        <Logger name="org.hibernate" level="ALL" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
            <AppenderRef ref="TraceToFile"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="ALL" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
            <AppenderRef ref="TraceToFile"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>