# Ignore Gradle build output directory
/**/target

# Ignore Intellij IDEA
.idea
*.iml

# Ignore development logs
/**/logs

# Ignore embedded databases
/**/*.db

# Ignore tmp commons directory
commons
